.mainbox{
	width: 80%;
	min-width: 1200px;
	margin: 0 auto;
}
.topselect{
	width: 100%;
	padding: 0 50px;
}
.selectOption{
	width: 100%;
	height: 80px;
	line-height:80px;
	font-size: 16px;
	color: #333333;
}
.topselect h2{
	display: inline-block;
	margin: 0;
	line-height: 80px;
	font-size: 30px;
}
.addHos{
	width: 100px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	display: inline-block;
	/* float: right; */
	font-size: 16px;
	line-height: 40px;
	margin-top: 20px;
	margin-left: 30px;
	text-align: center;
	background: #409eff;
	    color: #FFFFFF;
}
.lookBefore{
	float: right;
	line-height: 80px;
}

.lastHis{
	float: right;
	font-size: 16px;
	cursor: pointer;
	color: #337ab7;
}

.selectOption input{
	width: 150px;
	height: 38px;
	border-radius: 4px;
	outline: none;
	border:1px solid #e5e5e5;
	margin-right:15px;
	padding: 0 10px;

}
.selectOption button{
	width: 80px;
	height: 38px;
	border-radius: 4px;
	line-height: 38px;
	outline: none;
	border:1px solid #e5e5e5;
	margin-right:15px;
	background:#409eff;
	color: #FFFFFF;
	vertical-align: middle;
	margin-top: -3px;
}
.selectOption select{
	width: 140px;
	height: 38px;
	border-radius: 4rpx;
	outline: none;
	margin-right:15px;
	border:1px solid #e5e5e5;
}
.tableBox{
	width: 100%;
	height: auto;
}
.tableBox table{
	width: 100%;
	height: auto;
	
}
.tableBox table thead tr th,.tableBox table tbody tr td{
	height: 40px;
	line-height: 40px;
	width: auto;
	text-align: center;
}
.tableBox table tbody tr td{
	padding: 0 10px;
	border: 1px solid #e5e5e5;
	
}
.tableBox table tbody tr td:nth-child(2){
	cursor: pointer;
	text-align: left;
}

/* .selectOption .province,.selectOption  .city,.selectOption  .town{
	width: 100px;
	margin-right: 5px;
}
 */